* {
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  margin: 0px;
  padding: 0;
}
/* nav */
.nav-menu {
  background-color: #457396;
}

.nav-menu .nav-wrapper .brand-logo{
  font-size: 1.1rem;
  font-weight: 500;
  padding-right: 1em;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.nav-wrapper .button-collapse i {
  font-size: 2.4em;
}

.side-nav {
  width: 60%;
}

/* end nav */

/* info */
.info-about-me {
  background-color: #fff;
}

.dinamic-box-info {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1em;
}

.my-profile-pic {
  /* margin-top: 4em; */
}
/* end info */

/* word carousel */
/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:700,400); */
.frame {
  background: #64a263;
  border-radius: 2px;
  box-shadow: 1px 4px 19px 3px rgba(0, 0, 0, 0.19);
  color: #fff;
  font-size: 1.7rem;
  height: 9vh;
  position: absolute;
  overflow: hidden;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

.center {
  position: absolute;
  top: 49.5%;
  left: 0;
  right: 0;
  margin-top: -22.5px;
}

.carousel {
  position: relative;
  width: 100%;
  text-align: center;
  /* font-size: 30px; */
  line-height: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
}
.carousel .pre {
  position: absolute;
  top: 0;
  right: 63%;
  height: 45px;
  /* text-shadow: 2px 2px 2px #e67e22; */
}
.carousel .change_outer {
  position: absolute;
  top: 0;
  left: 40%;
  text-align: left;
  height: 45px;
  overflow: hidden;
  width: 53%;
}
.carousel .change_outer .change_inner {
  position: relative;
  -webkit-animation: rotate 17s ease-in-out infinite;
          animation: rotate 17s ease-in-out infinite;
}
.carousel .change_outer .element {
  display: block;
  /* font-weight: 700; */
  /* text-shadow: 2px 2px 2px #e67e22; */
}

@-webkit-keyframes rotate {
  0%, 20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25%,45% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  50%,70% {
    -webkit-transform: translateY(-90px);
            transform: translateY(-90px);
  }
  75%,95% {
    -webkit-transform: translateY(-135px);
            transform: translateY(-135px);
  }
  100% {
    -webkit-transform: translateY(-180px);
            transform: translateY(-180px);
  }
}

@keyframes rotate {
  0%, 20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25%,45% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  50%,70% {
    -webkit-transform: translateY(-90px);
            transform: translateY(-90px);
  }
  75%,95% {
    -webkit-transform: translateY(-135px);
            transform: translateY(-135px);
  }
  100% {
    -webkit-transform: translateY(-180px);
            transform: translateY(-180px);
  }
}


/* end word carousel */

/* Section About Me */
.about-me {
  margin: 5em 3em 4em 3em;
}

.my-info {
  margin-top: 5em;
}

.my-info p {
  font-size: 1.2rem;
  text-align: center;
}
/* End section About me */

/* Section Projects */
.project-title {
  display: flex;
  justify-content: center;
  margin: 1em 0;
}

.project-title h2 {
  background-color: #457396;
  box-shadow: 0px 3px 7px 0px rgba(113, 113, 114, 0.86);
  color: #fff;
  font-size: 2rem;
  padding: 0.6em;
  text-transform: uppercase;
  text-align: center;
}

.info-project {
  margin: 2.8em 0;
  text-align: center;
}

.info-project p {
  font-size: 1.2rem;
}

.info-project a {
  font-size: 1.3rem;
  margin: 2.7em 0;
}
/* End section projects */

/* Footer */
footer {
  align-items: center;
  background-color: #000;
  color: #fff;
  display: flex;
  font-size: 1.2rem;
  height: 10vh;
}
/* End footer */

/* MEDIA QUERIES */
/* @media screen and ( min-width: 576px ){
  .project-title {
  background-color:red;
  color: yellow;}
} */

@media screen and (min-width: 576px) {  
  /* Nav */
  .nav-menu {
    /* height: 7vh; */
  }

  .nav-menu .nav-wrapper .brand-logo {
    font-size: 2.1rem;
  }

  .nav-wrapper .button-collapse i {
    font-size: 3em;
  }
  /* End nav */

  /*About me */

  .carousel {
    font-size: 2.5rem;
  }
  .my-info {
    margin-top: 8em;
  }

  .my-info p {
    font-size: 2rem;
    text-align: center;
  }
  /* End about me */

  /* Projects */
  .project-title {
    margin: 0 4em;
    padding: 0.8em 0;    
  }

  .project-title h2 {
    font-size: 3rem;
  }

  .info-project h4 {
    font-size: 3.4rem;
    text-transform: uppercase;
  }

  .info-project p {
    font-size: 2rem;
  }

  .info-project a {
    font-size: 2.5rem;
    margin: 2.7em 0;
    padding: 3rem;
    line-height: 1px;
  }
  /* End projects */

  /* Footer */
  footer {
    font-size: 2rem;
  }
  /* End Footer */
}

 /* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) { 
  /* About me */
  .my-info p {
    font-size: 1.3rem;
  }
  /* End about me */

  /* Projects */
  .project-title h2 {
    font-size: 2rem;
    width: 40vw;
  }

  .info-project h4 {
    font-size: 2.5rem;
  }

  .info-project p {
    font-size: 1.5rem;
  }

  .info-project a {
    font-size: 1.6rem;
    padding: 2rem;
  }
  /* End projects */

  /* Footer */
  footer {
    font-size: 1.5rem;
  }
  /* End footer */

 }

 /* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) { 
  /* Nav */
  .nav-menu .nav-wrapper .brand-logo {
    font-size: 1.6rem;
    text-align: left;
    padding-left: 1em;
  }
  /* End nav */
 }

 /* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) { 
  
 }

