* {
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
}

/* Main background and menu */
.img-background {
  background-color: rgba(0, 0, 0, 0.315);
  position: relative;
}

.img-background h1 {
  background-color: rgba(0, 0, 0, 0.315);
  color: #fff;
  font-family: 'Sacramento', cursive;
  font-size: 4rem;
  height: 100%;
  left: 0;
  line-height: 245px;
  margin: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100vw;
}

.menu {
  top: 0;
  color: #fff;
  padding-left: 1em;
  position: absolute;
}

.menu h3 {
  font-size: 1.5rem;
  font-weight: 200;
}

.img-background > img {
  /* background-color: rgba(0, 0, 0, 0.1); */
  /* -webkit-filter: grayscale(70%); */
  /* opacity: 1; */
  -webkit-filter: contrast(69%);
}