 /* @font-face {
  font-family: 'Sweet Hipster';
  src: url('../fonts/SweetHipster.eot');
  src: url('../fonts/SweetHipster.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SweetHipster.woff2') format('woff2'),
      url('../fonts/SweetHipster.woff') format('woff'),
      url('../fonts/SweetHipster.ttf') format('truetype'),
      url('../fonts/SweetHipster.svg#SweetHipster') format('svg');
  font-weight: normal;
  font-style: normal;
} */

body{
  font-family: 'Sweet Hipster' !important;
}



canvas {
  display: block;
  vertical-align: bottom;
}


/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}


* {
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
}

/* Main background and menu */
main .col-xs-12, footer .col-xs-12  {
  padding: 0 !important;
}

.img-background {
  background-color: #1B3448;
  /* position: relative; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-background h1 {
  /* background-color: rgba(0, 0, 0, 0.315); */
  color: #fff;
  font-family: 'Sacramento', cursive;
  font-size: 4.5rem;
  height: 100%;
  /* left: 0; */
  line-height: 6em;
  margin: 0;
  /* position: absolute; */
  text-align: center;
  /* top: 0; */
  /* width: 100vw; */
  padding-bottom: 1em;
}

.democlass{
  color: blue;
  font-size: 10rem;
}

.menu {
  /* top: 0; */
  color: #fff;
  /* padding: 0.7em 0; */
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-around;
  margin-bottom: 3em;
}

.menu-fixed {
  top: 13em;
  color: #fff;
  /* padding: 0.7em 0;
  position: absolute; */
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-around;
}
.menu a {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 200;
  /* display: inline-block; */
  text-decoration: none;
  /* -webkit-transition: font-size 0.5s; Esto es para el hover */
}

/* .menu h3:hover {
  font-size: 2.5rem;
} */

.img-background > img {
  /* background-color: rgba(0, 0, 0, 0.1); */
  /* -webkit-filter: grayscale(70%); */
  /* opacity: 1; */
  -webkit-filter: contrast(69%);
}

.me-box {
  /* background-color: green; */
  /* height: 10vh; */
  padding: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
}

.me-box:hover {
  border-radius: 1px;
  outline: solid 5px #fff;
  transition: outline 0.9s linear;
  margin: 0.5em;
}

.me-box svg {
  font-size: 4.5rem;
}

.me-box p {
  text-align: center;
}

.home-icon svg{
  font-size: 4rem;
  position: fixed;
  height: 100vh;
  /* width: 160px; */
  z-index: 1;
  top: 0;
  left: 7.7em;
  /* background-color: #111; */
  overflow-x: hidden;
}

#my-self, #my-skills, #tech-skills, #my-projects {
  padding-right: 3em;
} 

#contact-me {
  z-index: 99999;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact-me img{
  width: 50%;
}

/* About me */
.my-info img {
  width: 30%;
  /* display: inline-block; */
  float: left;
  margin-right: 6%;
}
/* Soft Skills */

/* Tech skills */
#my-skills {
  /* background-color: #113746; */
  background-color: #6a6a6a;
  height: 90vh;
}

#my-skills h3{
  color: #fff;
}

h2, h3, h4, h4 {
  font-family: 'Sofia', cursive;
}

.tech-skills-box {
    /* display: flex; */
    /* flex-direction: inherit; */
    /* align-items: baseline; */
    width: 100%;
    text-align: center;
}

.icon-tech-skill {
  width: 18vw;
  height: 14vh;
  display: inline-block;
  padding: 1em 0;
  /* outline: 1px solid green; */
  text-align: center;
  /* display: flex; */
  margin: 0 0.5em;
}

.icon-tech-skill img {
  height: 62px;
  /* width: 100%; */
  background-color: #fff;
  /* border-radius: 10px; */
  box-shadow: 1px 4px 3px 3px rgba(0, 0, 0, 0.19);
}
/* Portfolio */
.project-img {
  margin-bottom: 4em;
}

.project-img img {
  width: 100%;
}

/* Footer */
footer {
  background-color: #000;
  color: #fff;
  height: 10vh;
  /* margin-top: 4em; */
  padding: 2em;
}

footer p {
  text-align: center;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 767px) {
  .menu a {
    font-size: 2rem;
  }

  .img-background h1 {
    font-size: 5.5rem;
  }

  .icon-tech-skill {
    width: 15vw;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 991px) {
  .menu a {
    font-size: 2.3rem;
  }

  .img-background h1 {
    font-size: 6rem;
  }

  .icon-tech-skill {
    width: 10vw;
  }
 }

 /* Large devices (large desktops, 1200px and up) */
@media (min-width: 1199px) {
  .menu a {
    font-size: 2.5rem;
  }

  .img-background h1 {
    /* font-size: 8rem; */
  }

  .icon-tech-skill {
    width: 10vw;
    height: 35vh;
  }
}



