 /* @font-face {
  font-family: 'Sweet Hipster';
  src: url('../fonts/SweetHipster.eot');
  src: url('../fonts/SweetHipster.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SweetHipster.woff2') format('woff2'),
      url('../fonts/SweetHipster.woff') format('woff'),
      url('../fonts/SweetHipster.ttf') format('truetype'),
      url('../fonts/SweetHipster.svg#SweetHipster') format('svg');
  font-weight: normal;
  font-style: normal;
} */

body{
  font-family: 'Sweet Hipster' !important;
}


* {
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
}

/* Main background and menu */
main .col-xs-12, footer .col-xs-12  {
  padding: 0 !important;
}

.img-background {
  background-color: rgba(0, 0, 0, 0.315);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-background h1 {
  background-color: rgba(0, 0, 0, 0.315);
  color: #fff;
  font-family: 'Sacramento', cursive;
  font-size: 2em;
  height: 100%;
  left: 0;
  line-height: 8em;
  margin: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100vw;
}

.menu {
  top: 0;
  color: #fff;
  padding: 0.7em 0;
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-around;
}

.menu-fixed {
  top: 13em;
  color: #fff;
  /* padding: 0.7em 0;
  position: absolute; */
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-around;
}
.menu a {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 200;
  display: inline-block;
  text-decoration: none;
  /* -webkit-transition: font-size 0.5s; Esto es para el hover */
}

/* .menu h3:hover {
  font-size: 2.5rem;
} */

.img-background > img {
  /* background-color: rgba(0, 0, 0, 0.1); */
  /* -webkit-filter: grayscale(70%); */
  /* opacity: 1; */
  -webkit-filter: contrast(69%);
}


/* Tech skills */

#tech-skills {
  background-color: #000;
}

#tech-skills h3{
  color: #fff;
}

.tech-skills-box {
    /* display: flex; */
    /* flex-direction: inherit; */
    /* align-items: baseline; */
    width: 100%;
    text-align: center;
}

.icon-tech-skill {
  width: 26vw;
  height: 21vh;
  display: inline-block;
  padding: 1em 0;
  /* outline: 1px solid green; */
  text-align: center;
  /* display: flex; */
  margin: 0 0.5em;
}

.icon-tech-skill img {
  height: 98px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}
/* Portfolio */
.project-img {
  margin-bottom: 4em;
}

.project-img img {
  width: 100%;
}

/* Footer */
footer {
  background-color: #000;
  color: #fff;
  margin-top: 4em;
  padding: 2em;
}