* {
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Sweet Hipster' !important; }

h2, h3, h4, h4 {
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase; }

#menu-home-container {
  background-color: #fff;
  font-size: 1.6rem;
  color: #1e5670;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.6em 0;
  border-radius: 0 0 8px 8px;
  margin-bottom: 3em; }

#menu-home-container a {
  color: #1e5670; }

canvas {
  display: block;
  vertical-align: bottom; }

/* MAIN MENU */
#contact-me {
  z-index: 99999;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  flex-direction: initial;
  justify-content: inherit; }
  #contact-me #contact-me img {
    width: 50%; }
  #contact-me #contact-me a {
    text-align: center;
    width: 30%; }

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%; }

/* Main background and menu */
.background-box {
  background-color: #1B3448;
  /* position: relative; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }
  .background-box h1 {
    color: #fff;
    font-family: 'Sacramento', cursive;
    font-size: 4.5rem;
    /* height: 100%; */
    /* left: 0; */
    /* line-height: 6em; */
    margin: 0;
    /* position: absolute; */
    text-align: center;
    /* top: 0; */
    /* width: 100vw; */
    padding-bottom: 1em; }

.menu {
  /* top: 0; */
  color: #fff;
  /* position: absolute; */
  display: flex;
  flex-direction: row;
  /* width: 100vw; */
  justify-content: space-evenly;
  margin-bottom: 3em;
  z-index: 99999; }
  .menu a {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 200;
    /* display: inline-block; */
    text-decoration: none;
    /* -webkit-transition: font-size 0.5s; Esto es para el hover */ }
  .menu .me-box {
    /* background-color: green; */
    /* height: 10vh; */
    /* padding: 3em; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 30vw; */ }
    .menu .me-box svg {
      font-size: 4.5rem; }
    .menu .me-box p {
      text-align: center; }

/* ABOUT ME */
.my-info img {
  width: 30%;
  /* display: inline-block; */
  float: left;
  margin-right: 6%; }

/* TECH SKILLS */
#my-skills {
  background-color: #1e5670;
  /* height: 90vh; */
  /* background-image: url(../assets/images/background-code.png); */
  /* background-size: cover; */ }
  #my-skills h3 {
    color: #fff; }
  #my-skills .tech-skills-box {
    text-align: center; }
  #my-skills .icon-tech-skill {
    width: 19%;
    height: 70px;
    display: inline-block;
    /* padding: 1em 0; */
    /* outline: 1px solid green; */
    /* display: flex; */
    /* margin: 0 0.5em; */
    margin: 0.8em 0.5em;
    /* outline: 1px solid red; */
    /* flex-direction: row; */ }
    #my-skills .icon-tech-skill img {
      height: 100%;
      width: 100%;
      /* background-color: #fff; */
      /* border-radius: 10px; */
      box-shadow: 1px 4px 3px 3px rgba(0, 0, 0, 0.19); }

/* PORTFOLIO */
.project-img {
  margin-bottom: 4em; }
  .project-img figcaption {
    font-weight: 600;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 0.6em; }
  .project-img div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 0.5em; }
    .project-img div a {
      background-color: #1B3448;
      padding: 0.4em;
      border-radius: 5px;
      color: #fff;
      width: 25%;
      text-align: center; }
    .project-img div a:last-child {
      background-color: #fff;
      color: #1B3448;
      border: 1px solid #1B3448; }

/* CONTACT */
#my-contact-info {
  background-color: #113746;
  padding: 3em 0; }

.contact-info-container {
  background-color: #fff;
  padding: 1em;
  border-radius: 10px; }
  .contact-info-container .contact-box {
    margin: 5em 0;
    display: flex;
    justify-content: space-evenly; }
    .contact-info-container .contact-box div {
      color: #1B3448;
      font-size: 1.7rem;
      font-weight: 500;
      border: 1px solid #1B3448;
      padding: 0.4em 0;
      border-radius: 5px;
      width: 35%;
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 0 0.3em; }
      .contact-info-container .contact-box div a {
        color: #1B3448;
        font-size: 1.3rem;
        margin-left: 0.6em; }

/* FOOTER */
footer {
  background-color: #000;
  color: #fff;
  height: 10vh;
  /* margin-top: 4em; */ }
  footer p {
    text-align: center; }

/*# sourceMappingURL=main.css.map */
