* {
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
}

$color-azul-oscuro: #002E5E;
$color-azul : #245d88;
$color-azul-claro : #0C8CE8;
$color-verde: #4bceb4;
$color-gris : #808080;

body{
  font-family: 'Sweet Hipster' !important;
  position: relative; 
}

h2, h3, h4, h4 {
  font-size: 2.5rem;
  font-family: 'Comfortaa', serif;
  font-weight: 700;
  // margin-bottom: 0;
  // margin-top: 1em;
  text-align: center;
  // text-transform: uppercase;
}

hr{
  border: 2px solid $color-verde;
  border-radius: 4em;
  height: 0px;
  text-align: center;
  margin-top: 0;
  width: 80%;
 }

#my-skills, #tech-skills, #my-projects {
  /* height: 90vh; */
  padding: 3em 0;
}

.my-info-title, .info-tech-skills, .project-title {
  margin-bottom: 2em;
}

#menu-home-container {
  background-color: #fff;
  border-radius: 0 0 8px 8px;
  ul {
    font-size: 1.6rem;
    // color: $color-azul-oscuro;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.6em 0;
    // margin-bottom: 3em;
    // box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.15);    
    a {
      color: $color-gris;
      font-weight: 100;
      font-size: 1.8rem;
      padding: 0;
      p {
        margin: 0;
      }
    } 
  }
}

.navbar {
  border: none;
}
.nav-watch .nav-watch>.active>a>p, .nav-watch .nav-watch>.active>a>p:focus, .nav-watch .nav-watch>.active>a>p:hover {
  color: #000;
  font-weight: 400;
}

// .nav-inv .nav-nav>.active>a, .nav-inv .nav-nav>.active>a:focus, .nav-inv .nav-nav>.active>a:hover {
//   background-color: pink;
//   color: red;
// }

canvas {
  display: block;
  vertical-align: bottom;
}


/* MAIN MENU */

#contact-me {
  z-index: 99999;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  flex-direction: initial;
  justify-content: inherit;
  #contact-me img{
    width: 50%;
  }
  
  #contact-me a {
    text-align: center;
    width: 30%;
  }
}

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Main background and menu */
// main .col-xs-12, footer .col-xs-12  {
//   padding: 0 !important;
// }

.background-box {
  background-color: $color-azul-oscuro;
  /* position: relative; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 4em 0;
  h1 {
    color: #fff;
    font-family: 'Sacramento', cursive;
    font-size: 4.5rem;
    margin: 0;
    text-align: center;
    padding-bottom: 1em;
  }
}

.menu {
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 3em;
  z-index: 99999;
  a{
    color: #fff;
    font-size: 1.3rem;
    font-weight: 200;
    text-decoration: none;
    /* -webkit-transition: font-size 0.5s; Esto es para el hover */
  }
  .me-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 30vw; */
    svg {
      font-size: 4.5rem;
    }
    p {
      font-size: 1.5rem;
      text-align: center;
    }
  }
}


/* ABOUT ME */
#my-self {
  padding-bottom: 3em;  
  .my-info-title {
    align-items: center;
    display: flex;
    flex-direction: column;
    // hr{
    //   width: 80%;
    // }  
  }
  .my-info {
    img {
      width: 30%;
      /* display: inline-block; */
      float: left;
      margin-right: 6%;
    }
  }
}

/* TECH SKILLS */
#my-skills {
  background-color: $color-azul-oscuro;
  .info-tech-skills{
    align-items: center;
    display: flex;
    flex-direction: column;
    h3{
      color: #fff;
    }
    // hr {
    //   width: 80%;
    // }
  }
  
  .tech-skills-box{
    text-align: center;
  }

  .icon-tech-skill {
    display: inline-block;
    height: 7em;
    margin: 0.8em 2em 3em;
    position: relative;
    width: 7em;
    img {
      box-shadow: 1px 4px 3px 3px rgba(0, 0, 0, 0.19);
      height: 100%;
      width: 100%;
    }
    p {
      color: #fff;
      display: contents;
      text-transform: capitalize;
      position: absolute;
    }
    figcaption {
      background-color: rgba(0, 0, 0, 0.315);
      color: #fff;
      font-size: 1.4rem;
      font-weight: 100;
      // text-transform: capitalize;
      height: 100%;
      // left: 0;
      // line-height: 5.5em;
      text-align: center;
      top: 0;
      transition: all .23s ease;
      opacity: 0;
      position: absolute;
      visibility: hidden;
      width: 100%;
      // overflow: hidden;
    }
  }  
  .icon-tech-skill:hover>figcaption {
    font-weight: 500;
    opacity: 5;
    visibility: visible;
    width: 100%;
  } 
  .icon-tech-skill:hover>p {
    visibility: hidden;
  }
}


/* PROJECTS */
.project-title {
  align-items: center;
  display: flex;
  flex-direction: column;
  // hr {
  //   width: 80%;
  // }
}
.project-img {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4em;
  figcaption {
    // font-weight: 600;
    font-size: 2.5rem;
    text-transform: capitalize;
    margin-bottom: 0.6em;
  }
  img {
    // border-radius: 0.7em;
    max-width: 250px;
  }
  div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 0.5em;
    max-width: 335px;
    width: 100%;
    a {
      background-color: $color-azul;
      border-radius: 5px;
      color: #fff;
      font-size: 1.5rem;    
      font-weight: 500;
      text-align: center;
      padding: 0.3em 0.4em;
      width: 25%;
    }

    a:last-child {
      background-color: #fff;
      color: $color-azul;
      border: 1px solid $color-azul;
    }
  }
}


/* CONTACT */


#my-contact-info {
  // background-color: $color-verde;
  // margin: 7em 0 0 0;
  padding: 3em 0;
  .contact-info-title {  
    align-items: center;
    display: flex;
    flex-direction: column;
    // hr {
    //   width: 50%;
    // }
    h2, p {
      color: #000000;
    }
  }
  .contact-info-container {
    background-color: #fff;
    padding: 1em;
    border-radius: 10px;
    .contact-box-icons {
      margin: 5em 0;
      display: flex;
      justify-content: space-evenly;
      div {
        align-items: center;
        border-radius: 50%;    
        display: flex;  
        flex-direction: column;
        justify-content: center;
        height: 4em;  
        padding: 1em;
        width: 4em;
        a {
          color: $color-gris;
          font-size: 1.3rem;
          // margin-top: 0.6em;
          // display: none;
        }
        svg {
          // font-size: 5rem;
          width: 100%;
          height: 100%;
        }
      }
      .linkedin-icon {
        border: 2px solid #01b8f4;
        svg {
          // font-size: 5rem;
          color: #01b8f4;
        }
      }
      .cv-icon {
        border: 2px solid #a364bd;
        svg {
          color: #a364bd;
        }
      }
      .github-icon {
        border: 2px solid $color-gris;
        svg {
          color: $color-gris;
        }
      }
      .whatsapp-icon {
        border: 2px solid #25D366;
        svg {
          color: #25D366;
        }
      }
    }
    .contact-box-icons div:hover {
      // outline: 3px solid pink;
      height: 6em;
      width: 6em;
      transition: all .30s ease;
    }
    .contact-box-main {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .personal-info {
        font-size: 1.6rem;
        p{
          margin-bottom: 0;
          color: $color-gris;
        }
      }
      .whatsapp {
        width: 35%;
      }
    }
  }
}

/* FOOTER */

footer {
  background-color: #000;
  color: #fff;
  height: 10vh;
  /* margin-top: 4em; */
  // padding: 2em;
  display: flex;
  align-items: center;
  p {
    text-align: center;
  }
}

@media (min-width:575px) {

  // MAIN MENU
  .menu {
    .me-box {
      p {
        font-size: 1.9rem;
      }
    }
  }

  // ABOUT ME
  #my-self {
    .my-info-title {
      // hr {
      //   width: 19%;
      // }
    }
  }

  // MY SKILLS
  #my-skills {
    .info-tech-skills {
      // hr {
      //   width: 37%;
      // }
    }
    .icon-tech-skill {
      display: inline-block;
      // height: 5.5em;
      // margin: 0.8em 2em 3em;
      // width: 5.5em;
    }
  }

  // PROJECTS
  #my-projects {
    .project-title {
      // hr {
      //   width: 19%;
      // }
    }
    .project-img {
      div{
        width: 80%;
      }
      img {
        // height: 25em;
        width: 100%;
      }
      a {
        font-size: 1.3rem;
      }
      a:last-child {
        font-size: 1.3rem;
      }
    }
  }

  // CONTACT BOX
  #my-contact-info {
    .contact-info-container {
      .contact-box-icons {
        div {
          height: 5em;
          width: 5em;
        }
      }
    }
  }
} 

/* Small devices (tablets, 768px and up) */
@media (min-width: 767px) {

  // MAIN MENU
  .background-box {
    h1 {
      font-size: 5.5rem;
    }
  }

  // ABOUT ME
  #my-self {
    .my-info-title {
      // hr {
      //   width: 15%;
      // }
    }
  }

  // TECH
  #my-skills {
    .info-tech-skills {
      // width: 30%;
    }
  }

  // PROYECTOS
  #my-projects {
    .project-title {
      // hr {
      //   width: 16%;
      // }
    }
    .project-img {
      img {
        // height: 16em;
        width: 100%;
      }
      div {
        width: 100%;
      }
    }
  }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 991px) {
  // MAIN MENU
  .background-box {
    h1 {
      font-size: 7rem;
    }
  }
  .menu {
    .me-box {
      svg {
        font-size: 5.8rem;
      }
      p {
        font-size: 2.1rem;
      }
    }
  }
  
  // ABOUT ME
  #my-self {
    .my-info-title {
      // hr {
      //   width: 9%;
      // }
    }
  }

  // SKILLS
  #my-skills {
    .icon-tech-skill {
      margin: 0.8em 2.7em 6em;
      height: 6.5em;
      width: 6.5em;
    }
    .info-tech-skills {
      // hr {
      //   width: 18%;
      // }
    }
  }

  // PROJECTS
  #my-projects {
    .project-title {
      // hr {
      //   width: 9%;
      // }
    }
    .project-img {
      img {
        // height: 17em;
      }
    }
  }

}

 /* Large devices (large desktops, 1200px and up) */
@media (min-width: 1199px) {

// PORTFOLIO
#my-skills {
  .icon-tech-skill {
    height: 7em;
    margin: 0.8em 3em 6em;
    width: 7em;
  }
}


//   .menu a {
//     font-size: 2.5rem;
//   }

//   .background-box h1 {
//     /* font-size: 8rem; */
//   }

//   .icon-tech-skill {
//     width: 7vw;
//     height: 15vh;
//   }

//   figure.img-responsive.project-img {
//     width: 28%;
//     margin-bottom: 7em;
//     height: 25em;
//   }

//   .projects-box {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: space-between;
//     margin: 2em 0;
//   }

//   #my-self, #my-skills, #tech-skills, #my-projects {
//     /* height: 90vh; */
//     margin-top: 7em;
//   }

//   .contact-box-icons div {
//     color: #1B3448;
//     font-size: 1.7rem;
//     font-weight: 500;
//     border: 1px solid #1B3448;
//     padding: 0.6em;
//     border-radius: 5px;
//     width: 16%;
//     text-align: center;
//   }

//   .text-center p {
//     font-size: 2rem;
//   }

//   .my-info img {
//     width: 20%;
//     /* display: inline-block; */
//     float: left;
//     margin-right: 6%;
//   }
}