* {
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Sweet Hipster' !important; }

h2, h3, h4, h4 {
  font-size: 2.5rem;
  font-family: 'Comfortaa', serif;
  font-weight: 700;
  text-align: center; }

hr {
  border: 3px solid #4bceb4;
  border-radius: 4em;
  height: 0px;
  text-align: center;
  margin-top: 0; }

#my-skills, #tech-skills, #my-projects {
  /* height: 90vh; */
  padding: 3em 0; }

.my-info-title, .info-tech-skills, .project-title {
  margin-bottom: 2em; }

#menu-home-container {
  background-color: #fff;
  font-size: 1.6rem;
  color: #002E5E;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.6em 0;
  border-radius: 0 0 8px 8px; }

#menu-home-container a {
  color: #002E5E;
  font-size: 1.7rem; }

canvas {
  display: block;
  vertical-align: bottom; }

/* MAIN MENU */
#contact-me {
  z-index: 99999;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  flex-direction: initial;
  justify-content: inherit; }
  #contact-me #contact-me img {
    width: 50%; }
  #contact-me #contact-me a {
    text-align: center;
    width: 30%; }

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%; }

/* Main background and menu */
.background-box {
  background-color: #002E5E;
  /* position: relative; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 4em 0; }
  .background-box h1 {
    color: #fff;
    font-family: 'Sacramento', cursive;
    font-size: 4.5rem;
    margin: 0;
    text-align: center;
    padding-bottom: 1em; }

.menu {
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 3em;
  z-index: 99999; }
  .menu a {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 200;
    text-decoration: none;
    /* -webkit-transition: font-size 0.5s; Esto es para el hover */ }
  .menu .me-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 30vw; */ }
    .menu .me-box svg {
      font-size: 4.5rem; }
    .menu .me-box p {
      font-size: 1.5rem;
      text-align: center; }

/* ABOUT ME */
#my-self {
  padding-bottom: 3em; }
  #my-self .my-info-title {
    align-items: center;
    display: flex;
    flex-direction: column; }
    #my-self .my-info-title hr {
      width: 35%; }
  #my-self .my-info img {
    width: 30%;
    /* display: inline-block; */
    float: left;
    margin-right: 6%; }

/* TECH SKILLS */
#my-skills {
  background-color: #002E5E; }
  #my-skills .info-tech-skills {
    align-items: center;
    display: flex;
    flex-direction: column; }
    #my-skills .info-tech-skills h3 {
      color: #fff; }
    #my-skills .info-tech-skills hr {
      width: 70%; }
  #my-skills .tech-skills-box {
    text-align: center; }
  #my-skills .icon-tech-skill {
    display: inline-block;
    height: 5em;
    margin: 0.8em 1.3em 3em;
    width: 5em; }
    #my-skills .icon-tech-skill img {
      box-shadow: 1px 4px 3px 3px rgba(0, 0, 0, 0.19);
      height: 100%;
      width: 100%; }
    #my-skills .icon-tech-skill figcaption {
      color: #fff; }

/* PROJECTS */
.project-title {
  align-items: center;
  display: flex;
  flex-direction: column; }
  .project-title hr {
    width: 37%; }

.project-img {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4em; }
  .project-img figcaption {
    font-size: 2.5rem;
    text-transform: capitalize;
    margin-bottom: 0.6em; }
  .project-img div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 0.5em;
    width: 100%; }
    .project-img div a {
      background-color: #245d88;
      border-radius: 5px;
      color: #fff;
      font-size: 1.5rem;
      font-weight: 500;
      text-align: center;
      padding: 0.6em 0.4em;
      width: 25%; }
    .project-img div a:last-child {
      background-color: #fff;
      color: #245d88;
      border: 1px solid #245d88; }

/* CONTACT */
#my-contact-info {
  padding: 3em 0; }
  #my-contact-info .contact-info-container {
    background-color: #fff;
    padding: 1em;
    border-radius: 10px; }
    #my-contact-info .contact-info-container .contact-box {
      margin: 5em 0;
      display: flex;
      justify-content: space-evenly; }
      #my-contact-info .contact-info-container .contact-box div {
        color: #002E5E;
        font-size: 1.7rem;
        font-weight: 500;
        padding: 0.4em 0;
        border-radius: 5px;
        width: 35%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 0.3em; }
        #my-contact-info .contact-info-container .contact-box div a {
          color: #002E5E;
          font-size: 1.3rem;
          margin-top: 0.6em; }
        #my-contact-info .contact-info-container .contact-box div svg {
          font-size: 4rem; }

/* FOOTER */
footer {
  background-color: #000;
  color: #fff;
  height: 10vh;
  /* margin-top: 4em; */
  display: flex;
  align-items: center; }
  footer p {
    text-align: center; }

@media (min-width: 575px) {
  .menu .me-box p {
    font-size: 1.9rem; }

  #my-self .my-info-title hr {
    width: 19%; }

  #my-skills .info-tech-skills hr {
    width: 37%; }
  #my-skills .icon-tech-skill {
    display: inline-block;
    height: 5.5em;
    margin: 0.8em 1.7em 3em;
    width: 5.5em; }

  #my-projects .project-title hr {
    width: 19%; }
  #my-projects .project-img img {
    height: 15em; }
  #my-projects .project-img a {
    font-size: 1.3rem; }
  #my-projects .project-img a:last-child {
    font-size: 1.3rem; } }
/* Small devices (tablets, 768px and up) */
@media (min-width: 767px) {
  .background-box h1 {
    font-size: 5.5rem; }

  #my-self .my-info-title hr {
    width: 15%; }

  #my-projects .project-title hr {
    width: 16%; } }
/* Medium devices (desktops, 992px and up) */
@media (min-width: 991px) {
  .background-box h1 {
    font-size: 7rem; }

  .menu .me-box svg {
    font-size: 5.8rem; }
  .menu .me-box p {
    font-size: 2.1rem; }

  #my-skills .icon-tech-skill {
    margin: 0.8em 2.7em 6em;
    height: 5em;
    width: 5em; } }

/*# sourceMappingURL=main.css.map */
